<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Tumblr Account</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>email</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Email</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>password</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Password</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>80</real>
		<key>Key</key>
		<string>volume</string>
	</dict>
</array>
</plist>
